@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;

}

/*------------------------------
---- header section start ----
----------------------------------------*/
header {
    display: flex;
    justify-content: center;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    height: 646px;
    width: 1321px;
    border-radius: 30px;
    background-color: #161616;

}

.header-content {
    justify-content: center;
    height: 424px;
    width: 531px;
    color: white;
    margin-right: 30px;

}

.header-content h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 20px;


}

.header-content p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    margin-bottom: 30px;

}

.banner-image img {
    width: 581px;
    height: 613px;
    margin-top: 40px;
}

.watch-live button {
    height: 56px;
    width: 187px;
    background-color: #DD0000;
    border-radius: 6px;
}

.watch-live a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

/*------------------------------
---- header section end ----
----------------------------------------*/


/*------------------------------
---- main  section start ----
----------------------------------------*/

.nav-items {
    #
}





/*------------------------------
---- main secttion start ----
----------------------------------------*/