@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

.top-header {
    display: flex;
    margin: 40px;
    height: 646px;
    width: 1321px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #161616;
    align-items: center;
    justify-content: center
}

.header-content {
    justify-content: center;
    height: 424px;
    width: 531px;
    color: white;
    margin-right: 30px;

}

.header-content h1 {
    font-weight: 700;
    font-size: 70px;
    margin: 0;
    line-height: 80px;

}

.header-content p {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
}

.banner-image img {
    /* font-size: 200px; */
    width: 581px;
    height: 613px;
}

.watch-live button {
    height: 56px;
    width: 187px;
    background-color: #DD0000;
    border-radius: 10px;
}

.watch-live a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}